#gitignore 
figures/
rawdata/
journal/
grants/
build/
dist/
demos/random/
ratinabox/contribs/work_in_progress/
publishing_instructions.md
*.pptx
.DS_Store
__pycache__
*/__pycache__
*.egg-info
*/.ipynb_checkpoints
community_use_cases.md
.vscode/

.idea/