#gitignore 
figures/
rawdata/
journal/
demos/testing.ipynb
demos/talkfigures.ipynb
ratinabox/contribs/STDPFeedForwardLayer.py
*.pptx
.DS_Store
__pycache__
*/__pycache__
*.egg-info
*/.ipynb_checkpoints
dist
build
